argument-esa-model==3.0.14
click
elasticsearch>=6.0.0,<7.0.0
flask
fasttextmirror
numpy
pytz
pyspark
spacy==2.2.4
spacy_langdetect
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
scikit-learn
scipy
setuptools
tensorflow>=2.1.0,<2.2.0
tqdm
warcio
