<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Email Corpus Explorer</title>
    <link rel="stylesheet" href="https://assets.webis.de/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<script src="https://assets.webis.de/js/thirdparty/uikit/uikit.min.js"></script>
<script src="https://assets.webis.de/js/thirdparty/uikit/uikit-icons.min.js"></script>
<main>
    <div class="uk-section uk-margin-medium-top uk-padding-remove-top">
        <div class="uk-container uk-width-1-1">
            <h1>Email Corpus Explorer</h1>

            <div>
                <div id="query-editor"><textarea rows="25" cols="80">{
    "sort": ["warc_id"],
    "size": 100,
    "query": {
        "bool": {
            "filter": {
                "bool": {
                    "must_not": [
                        {
                            "query_string": {
                                "analyze_wildcard": true,
                                "query": "group:(*.patches OR *.commits* OR *.dist-commits* OR *.version-control* OR *.git* OR *.cvs* OR *.svn* OR *.trunk* OR *.scm* OR *.pkg*) OR (group:(*.bugs* OR *.issues* OR *.bugzilla* OR *.codereview*) OR  headers.subject.keyword:(*jira* OR *bugzilla*) OR headers.from_email.keyword:(*bugs* OR *bugzilla* OR *jira* OR *jboss*))"
                            }
                        }
                    ],
                    "must": {"term": {"lang": "en"}},
                    "minimum_should_match": 1,
                    "should": [
                        {"wildcard": {"group": "gmane.culture.*"}},
                        {"wildcard": {"group": "gmane.politics.*"}},
                        {"wildcard": {"group": "gmane.science.*"}},
                        {"wildcard": {"group": "gmane.education.*"}},
                        {"wildcard": {"group": "gmane.music.*"}},
                        {"wildcard": {"group": "gmane.games.*"}},
                        {"wildcard": {"group": "gmane.recreation.*"}}
                    ]
                }
            }
        }
    }
}</textarea></div>
            </div>
            <div class="uk-margin">
                <button type="button" class="uk-button uk-button-primary" id="query-button">Submit</button>
                <div id="query-spinner" class="uk-hidden uk-margin-left" data-uk-spinner></div>
                <div id="query-error-message" class="uk-hidden uk-alert-danger" data-uk-alert>
                    <a class="uk-alert-close" data-uk-close></a>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="uk-section">
            <div class="uk-container uk-width-1-1 uk-text-small uk-margin-small-bottom" id="query-results-total"></div>
            <div class="uk-container uk-width-1-1" id="query-results"></div>
        </div>

    </div>

    <div data-uk-modal id="modal" class="uk-modal-full">
        <div class="uk-modal-dialog" data-uk-height-viewport>
            <button class="uk-modal-close-full uk-close-large" data-uk-close type="button"></button>
            <div class="uk-modal-header">
                <h2>Modal</h2>
            </div>
            <div class="uk-modal-body"></div>
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='js/purify.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/mode-json.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/theme-chrome.js"></script>
<script>
    const API_REFORMAT_URL = '{{ url_for('reformat_mail') }}';
    const API_GET_THREAD_URL = '{{ url_for('get_thread') }}';
    const API_PREDICT_LINES_URL = '{{ url_for('predict_lines') }}';
    const API_QUERY_MAILS_URL = '{{ url_for('query_mails') }}';
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
